<div class="container h-100">
  <div class="htop">
    <h3 class="text-center">Редактирование Спикера: {{model.lastName}} {{model.firstName}} {{model.patronymic}}</h3>
    {{speaker-form speaker=model onsubmit=(action "saveSpeaker")}}
  </div>
</div>